# Set the variables appropriatley
CONTAINER_NAME= #local name so we can maintain state
SCHEMA_REGISTRY_CONTAINER_NAME= # schema registry container name
TAG= #kafka version
IMAGE= #kafka image
PORT= #port to listen on